<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Satellite Sam</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
  .navbar li{
	float: left;
  }

  #map {

    max-width: 800px;
	width: 80%;
    height: 400px;
    margin: auto;
    border-width: 1px;
    border-style: solid;
  }

  input {
	width: 100px;
	text-align: center;
  }

  h2 {
	text-align: left;
  }

 #satellite {
   width: 80%;
   height: 500px;
   background-color: grey;
 }


</style>

</head>
<body>

<div class="container">
	<nav class='navbar navbar-default navbar-static-top'>
		<div class="container">
			<ul class=" nav navbar-nav top">
				<li><a class="navbar-brand" href="/game">Satellite Sam</a></li>
				<li><a href=".">How to Play</a></li>
				<li><a  href="https://github.com/cmerenstein/satellite_game">Source</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="jumbotron" align="center">
		<h4 id="miss">City 1 of 5</h4>
		<h4 id="averagemiss" hidden></h4>
		<h4 id="globalaverage" hidden></h4>
		<div id="nextcity" hidden><button class="btn btn-default">Next City</button></div>
		<a id="tryagain" href="/games" hidden><button class="btn btn-default">Play Again</button></a>

		<div id="satellite"></div>
		<br>
		<h4 id="instructions">Click on the map below to guess your location. Scroll down and hit "submit" to see how close you were.</h4>
		<p id="map"></p>

		<form id="latlng">
		{% csrf_token %}
			<input id="lat" name="lat" placeholder="Lat">
			<input id="lng" name="lng" placeholder="Lng">
			<div id="submit" class="btn btn-default">Submit</div>
		</form>
	</div>
</div>

<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoA2-xxOTU3nBswiIvVX4BnbaWRGBCLC8&callback=initMap">
</script>

<script>
    // using jQuery to get crsf token (code from django website)
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');


//	console.log(JSON.parse( '{{ data | safe }} '))
	var cities = JSON.parse( '{{ data | safe }} ')
	var average_miss = 0
	var q = 0

	/// GOOGLE MAPS SATELLITE WITHOUT LABELS
	var customStyle = [
		  {
			featureType: "all",
			elementType: "labels",
			stylers: [
			  { visibility: "off" }
			]
		  },
		  {
			featureType: "administrative",
			elementType: "geometry.stroke",
			stylers: [
				{ visibility: "off" }
			]
		  },
		  {
			featureType: "road",
			elementType: "geometry.stroke",
			stylers: [
				{ visibility: "off" }
			]
		  },
			  {
			featureType: "water",
			elementType: "geometry.stroke",
			stylers: [
				{ visibility: "off" }
			]
		  },
	]

	// MAKE SATELLITE MAP
	function initMap() {
		var city = cities[q]
	//	console.log(city)
        var uluru = {lat: city.city_lat, lng: city.city_lng};
        var map = new google.maps.Map(document.getElementById('satellite'), {
          tilt:0,
		  zoom: 12,
		  minZoom: 12,
          center: uluru,
		  mapTypeId: 'satellite',
		  streetViewControl: false,
        });
		map.set('styles', customStyle);
      }


  //// LEAFLET MAP FOR PICKING LOCATION
  var map = L.map('map').setView([30, 0], 2);
  mapLink =
      '<a href="http://openstreetmap.org">OpenStreetMap</a>';
  L.tileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; ' + mapLink + ' Contributors',
      maxZoom: 5,
      }).addTo(map);

    map._initPathRoot()

    var svg = d3.select("#map").select("svg"),
    g = svg.append("g");

    // DROPS DOT WHERE THE GUESS WAS CLICKED
	map.on('click', function(e) {
		$('#lat').val(Math.round(e.latlng["lat"] * 100)/100);
		$('#lng').val(Math.round(e.latlng["lng"] * 100)/100);
		console.log(e);

		g.selectAll('circle').remove()
		g.selectAll('circle')
			.data([{'lat': e.latlng["lat"], 'lng': e.latlng["lng"]}])
			.enter()
			.append("circle")
			.style("stroke", "#474747")
			.style("fill", "red")
			.attr("r", "4")
			.attr("transform",
				function(d) {
					console.log(d);
					console.log(map.latLngToLayerPoint([d.lat, d.lng]))
				  return "translate(" +
					map.latLngToLayerPoint([d.lat, d.lng]).x + ","+
					map.latLngToLayerPoint([d.lat, d.lng]).y + ")";
				  }
				)


	});

	// DISTANCE FUNCTION
	function distance(lat1, lon1, lat2, lon2, unit) {
		var radlat1 = Math.PI * lat1/180
		var radlat2 = Math.PI * lat2/180
		var theta = lon1-lon2
		var radtheta = Math.PI * theta/180
		var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
		dist = Math.acos(dist)
		dist = dist * 180/Math.PI
		dist = dist * 60 * 1.1515
		if (unit=="K") { dist = dist * 1.609344 }
		if (unit=="N") { dist = dist * 0.8684 }
		return dist
	}

	// SUBMIT BUTTON
	$("#submit").on('click', function() {
		var city = cities[q]
		$('#satellite').attr('hidden', true);
		$('#latlng').attr('hidden', true);
		$("#instructions").attr('hidden', true);
		if (q == 4){ $("#tryagain").removeAttr('hidden');}
		else { $("#nextcity").removeAttr('hidden'); }

		var new_points = [
			{"type":"city", "lat":city.city_lat, "lng":city.city_lng},
			{"type":"guess", "lat":$('#lat')['0'].value, "lng":$('#lng')['0'].value}
		]


        // DRAW DOTS FOR GUESS AND TARGET CITY
		g.selectAll('circle').remove()
		var dots = g.selectAll("circle")
			.data(new_points)
			.enter()
			.append("circle")
			.style("stroke", "#474747")
			.style("fill", function(d) {
				if (d.type == "city") {
					return "dodgerblue";
				}
				else {
					return "red";
				}})
			.attr("r", "4")
			.attr("transform",
				function(d) {
					console.log(d);
					console.log(map.latLngToLayerPoint([d.lat, d.lng]))
				  return "translate(" +
					map.latLngToLayerPoint([d.lat, d.lng]).x + ","+
					map.latLngToLayerPoint([d.lat, d.lng]).y + ")";
				  }
				)

        // CALCULATE HOW FAR OFF THE GUESS WAS
		var missed = distance(new_points[0].lat, new_points[0].lng, new_points[1].lat, new_points[1].lng, "K")
		missed = Math.round(missed * 100) / 100
		average_miss = (missed + average_miss * q) / (q + 1)

		if (missed <= 100) {
			$("#miss").text("Well done, only " + missed + " km away in " + city.city_name + ".")
		}
		else if (missed <= 1000) {
			$("#miss").text("Eh, Not bad. You were " + missed + " km away in " + city.city_name + ".")
		}
		else {
			$("#miss").text("Not so close, you were " + missed + " km away in " + city.city_name + ".")
		}

		average_miss = Math.round(average_miss)

		// WHEN FINISHED WITH ALL 5 CITIES, SHOW AVERAGE AND GLOBAL AVERAGE MISS
		if (q == 4) {
			$("#averagemiss").removeAttr('hidden')
				.text("Game over! On average you were " + average_miss + " km from the target city.");

            $.post("/game", {"csrfmiddlewaretoken":csrftoken, average_miss: average_miss},
            function (data, status) {
                $("#globalaverage").removeAttr('hidden')
                    .text("The average distance missed across all games is " + Math.round(+data) + " km.");

            });

		}

		// THIS JUST CORRECTS WHERE THE DOTS ARE WHEN ZOOMING THE MAP
		map.on("viewreset", function() {
			console.log('zoom');
			dots.attr("transform",
			function(d) {
				console.log(d);
				console.log(map.latLngToLayerPoint([d.lat, d.lng]))
			  return "translate(" +
				map.latLngToLayerPoint([d.lat, d.lng]).x + ","+
				map.latLngToLayerPoint([d.lat, d.lng]).y + ")";
			  }
			)
		  });


	 });

	// NEXT CITY BUTTON
	$("#nextcity").on('click', function(){
		q++;
		var city = cities[q];
		$('#satellite').removeAttr('hidden');
		$('#latlng').removeAttr('hidden');
		$("#instructions").removeAttr('hidden');
		$("#nextcity").attr('hidden', true);
		$("#globalaverage").attr('hidden', true);
		$("#miss").text("City " + (q + 1) + " of 5");

		initMap();

	});


</script>

</body>
</html>
