{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>
   
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">"></script>

<style>


  h2 {
	text-align: left;
  }
  

</style>

</head>
<body>

<div class="container">
	<nav class='navbar navbar-default navbar-static-top'>
		<div class="container">
			<ul class=" nav navbar-nav top">
				<li class="nav-item" ><a class="navbar-brand" href="/game">Satellite Sam</a></li>
				<li class="nav-item"><a class="nav-link" href=".">How to Play</a></li>
			</ul>
		</div>
	</nav>


	<div class="jumbotron" align="center">
		<h3>Welcome to Satellite Sam!</h4>
		<br>
		<p>To play, you get two satellite pictures and you have to figure out where they are. The point is to get as close as possible, so even if you don't recognize it, look for clues about what part of the world you're in. Use the map below the image to enter your guess for the city's location, and make sure to scroll all the way down and hit submit. Good luck!</p>
		<a href="/game"><button class="btn btn-default">Play!</button></a>

		
	</div>
</div>

</body>
</html>
