{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>


  .navbar li{
	float: left;
  }


</style>

</head>
<body>

<div class="container">
	<nav class='navbar navbar-default navbar-static-top'>
		<div class="container">
			<ul class=" nav navbar-nav top">
				<li><a class="navbar-brand" href="/game">Satellite Sam</a></li>
				<li><a href=".">How to Play</a></li>
				<li><a  href="https://github.com/cmerenstein/satellite_game">Source</a></li>
			</ul>
		</div>
	</nav>


	<div class="jumbotron" align="center">
		<h3>Welcome to Satellite Sam!</h4>
		<br>
		<p>The point of the game is to figure out what city you've been dropped into, using only an unlabled view of Google Earth. If you don't recognize where you are, zoom in and look for clues. Use the map below the satellite to enter your guess for the city's location, and make sure to scroll all the way down and hit submit. Each game you get 5 citites, and your score is the average of how close you are each time. Good luck!</p>
		<a href="/game"><button class="btn btn-default">Play!</button></a>


	</div>
</div>

</body>
</html>
